* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.prodotti {
  position: relative;
  display: inline-block;

}

.sconto30 {
  background-color: #00FF00;
  background-size: 50px 50px;
  position:absolute;
  top:0;
  left:88%
}

.sconto5 {
  background-color: red;
  position:absolute;
  top:0;
  left:90%

}
span {
  position: absolute;
  bottom: 5px;
  right: 50%;


}

.prodotti span {
  display: none;
}
.prodotti:hover span {
  display:block;
}
